
.intro-screen {
    height: 100vh;
    width: 100vw;
    background-color: #6345FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.bg-container .logo {
    background-image: url("../../assets/logo-white.png");
    width: 18vw;
    height: 18vw;
    flex-shrink: 0;
    background-size: 70%;
    opacity: .3;
    willChange: transform;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-content {
    max-width: 600px;
    padding: 0 20px;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-content h1 {
    font-size: 5rem;
    margin-bottom: 0rem;
    font-family: "Squada One", sans-serif;
}

.intro-content p {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
    font-family: "Squada One", sans-serif;
}

.loading-container {
    margin-top: 2rem;
}

.loading-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-top: 1rem;
    display: inline-block;
}