.home-section {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10;

    .home-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}