.festival-info-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;

  @media (max-width: 768px) {
    height: 70vh;
  }

  .festival-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    color: white;
    font-size: 2.5vh;
    text-align: center;

    @media (max-width: 768px) {
      width: 85%;
      font-size: 1.4vh;
      top: 42%;
      transform: translate(-50%, -50%);
      margin: 20px 0;
    }

    h2 {
      text-align: center;
      line-height: 1.3;
      margin-bottom: 1.5rem;
      font-size: 2.8rem;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 1.8rem;
        line-height: 1.2;
      }
    }

    p {
      text-align: center;
      line-height: 1.6;
      font-size: 1.2rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      .highlight-link {
        color: white;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}